---
title: Home
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
editable_elements:
  main/mission_statement: ! "<h3 class=\"center\">A Claim, Not a Mission</h3>\r\n\r\n
    \                   <p/>\r\n                    Reclaimed exists to redefine a
    sexualized culture, \r\n\t\t\t\t    restore men and women affected by the sex
    industry, and to reach\r\n\t\t\t\t    a world hurt by the abuse of sex through
    the power of the\r\n\t\t\t\t    church of Jesus Christ."
  main/dark_section: ! "<p>DALLAS' BAD TRAFFIC<em>(K)</em></p>\r\n<p>As you have probably
    heard, trafficking is a world wide problem. Women, men, and children are trafficked
    daily into the sex industry all over the world and Dallas is part of the problem.
    Sex trafficking in Dallas generates an estimated $100 million annualy, making
    it the fifth-largest underground sex economy in America. The traffic(k) is all
    around us and it's time to start fighting it.</p>"
  main/light section: ! "Yet, there is hope.  Through the mercy and power of Jesus
    Christ, Reclaimed intends to educate and equip the local church to fight\r\n\t\t\t\t\t\ttrafficking
    where they are.  This entails the devlopment of educational campaigns designed
    to raise awareness of the scope of the\r\n\t\t\t\t\t\tproblem of sex trafficking,
    and prepare the church to fight it.  It also includes both internal and external"
---
<!DOCTYPE html>

<html lang="en">

  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">

    <title>

      {{ page.title }} - {{ site.name }}

      | {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ site.seo_title }}{% endif %}

    </title>

    <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.meta_description }}{% endif %}">

    <meta name="keywords" content="{{ site.meta_keywords }} {{ page.meta_keywords }}">



    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ 'bootstrap.css' | stylesheet_tag }}

	{{ 'style.css' | stylesheet_tag }}

    <!--[if lt IE 9]>

      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    {% inline_editor %}
  </head>

  <body>
  

  <!-- Site Navigation -->

  <nav class="navbar navbar-default" role="navigation">
   <div class="container-fluid">
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	    <ul class="nav navbar-nav">

		  {% nav 'site', no_wrapper: true, active_class: "active", bootstrap: true %}

	    </ul>

	  </div>
	</div>

  </nav>


  <div class="wrapper container-fluid">



      <!-- Page Content -->
      <div class="main row">
	  {% block main %}


		<div class="row bcg" style="background-image:url('{{ 'home/Homepage-Header-Girl-in-Airport-Edit.jpg' | theme_image_url }}');"
			>

			<div class="row">
				<img src="{{ 'home/Homepage-Logo-Transparent_03.png' | theme_image_url }}" 
				  style="margin-top: 125px; margin-left: 50px;" 
				/>
			</div>

			<div class="row" style="margin-top:200px">

				<div class="col-xs-2"></div>

				<div class="col-xs-8 bg-opaque content-text"> 

				  <span>
				  {% editable_text "mission_statement", hint: "Reclaimed's mission statement" %}
				    <h3 class="center">A Claim, Not a Mission</h3>

                    <p/>
                    Reclaimed exists to redefine a sexualized culture, 
				    restore men and women affected by the sex industry, and to reach
				    a world hurt by the abuse of sex through the power of the
				    church of Jesus Christ.
				  {% endeditable_text %}
				  </span>

				</div>

			</div>

		</div>

			

	  

  <div data-bottom-top="background-color:hsl(0, 0%,100%); color:hsl(0,0%,0%)"
		data-center-top="background-color:hsl(0, 0%, 0%); color:hsl(0,75%,35%)"
		data-100-top-top="background-color:hsl(0, 0%, 0%); color:hsl(0,75%,35%)"
		data-100-top-center="background-color:hsl(0, 0%, 100%); color:hsl(0,0%,0%)"
		class="row"
		>

		


	<div class="col-sm-10 col-sm-offset-1">
	  <div class="row contentrow">
		<div class="col-sm-4 hidden-xs content-image" >

			<img src="{{ 'home/Homepage-Ads-Medium-Dallas-Is-Bad-Traffic_06.jpg' | theme_image_url  }}" alt="Dallas' Bad Traffic" />

		</div>

		<div class="col-sm-8 col-xs-12 content-text">
			{% editable_text "dark_section", hint: "The text belonging in the 'dark' section at the scroll break" %}
              DALLAS' BAD TRAFFIC<i>(K)</i> 
              <p/>
              As you have probably heard, trafficking is a world wide problem. Women, men, and children are trafficked daily into the sex industry all over the world and 
              Dallas is part of the problem. Sex trafficking in Dallas generates an estimated $100 million
              annualy, making it the fifth-largest underground sex economy in America. The traffic(k) is
              all around us and it's time to start fighting it. 
			{% endeditable_text %}
		</div>
	  </div>
	  <div class="row contentrow" style="margin-top: 50px;">
		<div class="col-sm-8 col-xs-12 content-text">
		  {% editable_text "light section", hint: "The text belonging in the 'light' section immediately after the 'dark' section" %}
				Yet, there is hope.  Through the mercy and power of Jesus Christ, Reclaimed intends to educate and equip the local church to fight
				trafficking where they are.  This entails the devlopment of educational campaigns designed to raise awareness of the scope of the
				problem of sex trafficking, and prepare the church to fight it.  It also includes both internal and external
		  {% endeditable_text %}
		</div>				

		<div class="col-sm-4 hidden-xs content-image" >

			<!--<img src="{{ 'home/Homepage-Ads-Medium-Hope.jpg' | theme_image_url }}" alt="A sad image" />-->

		</div>
	  </div>
	</div>



  </div>

	  


		<div class="row bcg" style="background-image:url('{{ 'home/Homepage-Footer-Dallas-Dawn.jpg' | theme_image_url }}');"
			>

			<div class="row contentrow center" id="imglinks">			

					<div class="col-sm-4 col-xs-12">          
					  <a href="/redefine">
					    <img src="{{ 'home/Homepage-Ads-Small-Redefine.jpg' | theme_image_url }}" alt="Redefine" />
					  </a>
					</div>

					<div class="col-sm-4 col-xs-12"
					data-toggle="popover" title="Coming Soon!" data-placement="top"
					>          
					  
						<img src="{{ 'home/Homepage-Ads-Small-Restore.jpg' | theme_image_url }}" alt="Restore" />
					  
					</div>

					<div class="col-sm-4 col-xs-12"
					data-toggle="popover" title="Coming Soon!" data-placement="top"
					> 

						<img src="{{ 'home/Homepage-Ads-Small-Reach.jpg' | theme_image_url }}" alt="Reach" />
					</div>

			</div>	

			<div class="row">
				<div class="col-sm-6">  

					<div 
					  style="background-image:url('{{ 'home/Homepage-Ads-Medium-Events.jpg' | theme_image_url }}'); width:374px; height:200px;"
					   class="text-center center bg-image row" 
					   id="nextEvent"
					 >
					<a href="https://www.google.com/calendar/embed?src=67gfi1ooq8ie2rs1h5smhmm2pg%40group.calendar.google.com">
					 	<div class="evtText bg-opaque-invert center">

						  <div class="evtTitle"></div>

						  <div class="evtDate"></div>

						  <div class="evtLoc"></div>
						</div>
					</a>
					</div>
				</div>

				<div class="col-sm-6">  
					<div 
					  style="background-image:url('{{ 'home/Homepage-Ads-Medium-News.jpg' | theme_image_url }}'); width:374px; height:200px;"
					  class="text-center center bg-image clickable row"
					  data-toggle="popover" title="Coming Soon!" data-content="News stories will be available shortly!" data-placement="top"
					  id="nextEvent"
					 >
					</div>
				</div>
			</div>	

		</div>


{% endblock %}
</div>



<div class="footer">

	copyright © Reclaimed ministries, all rights reserved

</div>

</div>

    <!-- Javascripts -->

    <script type='text/javascript'>

		window.cfgUrl = "{{ 'config.js' | javascript_url }}".split('?')[0];

		window.page = "{{ page.fullpath }}";

	</script>

	<script type="text/javascript" src="{{ 'lib/require.js' | javascript_url }}" data-main="{{ 'config.js' | javascript_url }}">

	</script>

  </body>

</html>