---
title: Home
published: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      {{ page.title }} - {{ site.name }}
      | {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ site.seo_title }}{% endif %}
    </title>
    <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.meta_description }}{% endif %}">
    <meta name="keywords" content="{{ site.meta_keywords }} {{ page.meta_keywords }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {{ 'bootstrap.css' | stylesheet_tag }}
	{{ 'style.css' | stylesheet_tag }}
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	  <div class="banner">
		<div class="container" >
			Has Reclaimed impacted your life?  Share your story <a href="TODO">here</a>
		</div>
	  </div>
  
      <!-- Site Navigation -->
	  <div class="navbar header" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li>
			  <a href="/">TODO: Logo</a>
			</li>
			{% nav 'site', no_wrapper: true, active_class: "active" %}
		  </ul>
		</div>
	  </div>

      <!-- Page Content -->
	  {% block main %}
	  <section id="slide-1" class="slide">
		<div class="bcg"
			data-center="background-position: 50% 0px;"
			data-top-bottom="background-position: 50% -100px;"
			data-ancor-target="#slide-1"
			>
			<div class="row">				
				<div class="col-md-10 col-md-offset-1 col-sm-12 ">          
					<h2 class="title">Reclaimed: He Knows Our Name</h2>
				</div>
			</div>
			<div class="row contentrow">
				<div class="col-md-10 col-md-offset-1 col-sm-12">          
				  What we are: Reclaimed exists to redefine a sexualized culture, 
				  restore men and women affected by the sex industry, and to reach
				  a world hurt by the abuse of sex through the power of the
				  church of Jesus Christ.
				</div>
			</div>			  
		</div>
	</section>      
	  
  <div  data-bottom-top="background-color:hsl(0,0%,100%); color:hsl(0,0%,0%)"
		data--50p-bottom-top="background-color:hsl(0, 0%, 0%); color:hsl(0,75%,35%)"
		data-top-top="background-color:hsl(0, 0%, 0%); color:hsl(0,75%,35%)"
		data-75p-top-bottom="background-color:hsl(0, 0%, 100%); color:hsl(0,0%,0%)"
		>
		
	  <div class="row contentrow">
		<div class="col-md-10 col-md-offset-1 col-sm-12">        
			<div class="pheader">
				Fade to black becuase this is sad...
			</div>
			<div class="row">
				<div class="col-md-8">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget tincidunt quam, vitae euismod ex.
						Nullam molestie nulla varius, hendrerit ligula eu, imperdiet ante. Integer risus lectus, porta at quam sit amet,
						fringilla tincidunt leo. Curabitur maximus velit a quam rhoncus auctor. Maecenas ac ante dapibus nibh scelerisque interdum.
						Sed mattis a leo rhoncus dignissim. Nunc rhoncus dolor sed facilisis luctus. Fusce gravida egestas semper. Aenean vitae sodales eros.
						Nam consectetur rhoncus diam, non rutrum diam varius id. Maecenas vitae ex quis mi varius imperdiet.
					</p>
					<p>
						Donec at ligula id eros vestibulum venenatis. Quisque feugiat bibendum orci et iaculis. Integer fermentum est non velit rhoncus tempor.
						In hac habitasse platea dictumst. Vestibulum imperdiet enim mauris, at elementum erat rhoncus ut. Cras justo nisl, faucibus et nisi et,
						feugiat aliquam arcu. Nunc lorem mauris, egestas ac neque nec, dapibus cursus sapien. Proin a facilisis quam. Aliquam erat volutpat.
						Nam malesuada placerat venenatis. Nulla malesuada felis in ipsum tempus, quis imperdiet mauris lacinia. Morbi volutpat ultricies lacus,
						id pharetra erat rutrum quis. Cras diam arcu, tristique quis ultrices a, consequat suscipit elit. Duis ullamcorper ullamcorper ultrices.
						Aliquam quis vestibulum ex. Vivamus laoreet erat libero, non vehicula felis dignissim eget.
					</p>
				</div>
				<div class="col-md-4" >
					<img src="{{ 'pic-t2.jpg' | theme_image_url | resize: '300x' }}" alt="A sad image" />
				</div>
			</div>
			<div class="row">				
				<div class="col-md-4" >
					<img src="{{ 'pic-t2.jpg' | theme_image_url | resize: '300x' }}" alt="A sad image" />
				</div>
				<div class="col-md-8">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget tincidunt quam, vitae euismod ex.
						Nullam molestie nulla varius, hendrerit ligula eu, imperdiet ante. Integer risus lectus, porta at quam sit amet,
						fringilla tincidunt leo. Curabitur maximus velit a quam rhoncus auctor. Maecenas ac ante dapibus nibh scelerisque interdum.
						Sed mattis a leo rhoncus dignissim. Nunc rhoncus dolor sed facilisis luctus. Fusce gravida egestas semper. Aenean vitae sodales eros.
						Nam consectetur rhoncus diam, non rutrum diam varius id. Maecenas vitae ex quis mi varius imperdiet.
					</p>
					<p>
						Donec at ligula id eros vestibulum venenatis. Quisque feugiat bibendum orci et iaculis. Integer fermentum est non velit rhoncus tempor.
						In hac habitasse platea dictumst. Vestibulum imperdiet enim mauris, at elementum erat rhoncus ut. Cras justo nisl, faucibus et nisi et,
						feugiat aliquam arcu. Nunc lorem mauris, egestas ac neque nec, dapibus cursus sapien. Proin a facilisis quam. Aliquam erat volutpat.
						Nam malesuada placerat venenatis. Nulla malesuada felis in ipsum tempus, quis imperdiet mauris lacinia. Morbi volutpat ultricies lacus,
						id pharetra erat rutrum quis. Cras diam arcu, tristique quis ultrices a, consequat suscipit elit. Duis ullamcorper ullamcorper ultrices.
						Aliquam quis vestibulum ex. Vivamus laoreet erat libero, non vehicula felis dignissim eget.
					</p>
				</div>
			</div>
		</div>
	  </div>
  
	  <div class="row contentrow">
		<div class="col-md-10 col-md-offset-1 col-sm-12">        
			<div class="pheader">
				But now there is hope!  Back to white!
			</div>
			<div class="row">
				<div class="col-md-8">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget tincidunt quam, vitae euismod ex.
						Nullam molestie nulla varius, hendrerit ligula eu, imperdiet ante. Integer risus lectus, porta at quam sit amet,
						fringilla tincidunt leo. Curabitur maximus velit a quam rhoncus auctor. Maecenas ac ante dapibus nibh scelerisque interdum.
						Sed mattis a leo rhoncus dignissim. Nunc rhoncus dolor sed facilisis luctus. Fusce gravida egestas semper. Aenean vitae sodales eros.
						Nam consectetur rhoncus diam, non rutrum diam varius id. Maecenas vitae ex quis mi varius imperdiet.
					</p>
					<p>
						Donec at ligula id eros vestibulum venenatis. Quisque feugiat bibendum orci et iaculis. Integer fermentum est non velit rhoncus tempor.
						In hac habitasse platea dictumst. Vestibulum imperdiet enim mauris, at elementum erat rhoncus ut. Cras justo nisl, faucibus et nisi et,
						feugiat aliquam arcu. Nunc lorem mauris, egestas ac neque nec, dapibus cursus sapien. Proin a facilisis quam. Aliquam erat volutpat.
						Nam malesuada placerat venenatis. Nulla malesuada felis in ipsum tempus, quis imperdiet mauris lacinia. Morbi volutpat ultricies lacus,
						id pharetra erat rutrum quis. Cras diam arcu, tristique quis ultrices a, consequat suscipit elit. Duis ullamcorper ullamcorper ultrices.
						Aliquam quis vestibulum ex. Vivamus laoreet erat libero, non vehicula felis dignissim eget.
					</p>
				</div>
			</div>
		</div>
	</div>

	</div>
	  
	<section id="slide-2" class="slide">
		<div class="bcg"
			data-center="background-position: 50% 0px;"
			data-top-bottom="background-position: 50% -100px;"
			data-ancor-target="#slide-2"
			>
			<div class="row">				
				<div class="col-md-10 col-md-offset-1 col-sm-12 ">          
					<h2 class="title">You can make a difference too!</h2>
				</div>
			</div>		
		</div>
	</section>
	
	<div class="contentrow">
		<div class="pheader">Some stories from the news</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				{% paginate contents.stories by 4 %}
				{% for story in paginate.collection %}
					<div class="story-listing story col-md-6">
						<div class="thumbnail">
							{% if story.image.url %}
								<a href="/stories/{{ story._slug }}">
								<img src="{{ story.image.url | resize: '300x' }}" alt="{{ story.title | escape }}">
								</a>
							{% endif %}
							<div class="caption">
								<h3>{{ story.title | escape }}</h3>
								<div class="teaser">{{ story.teaser }}</div>
								<p>
									<a href="/stories/{{ story._slug }}" class="btn btn-primary">
										Read More
									</a>
								</p>
							</div>		
						
						</div>
					</div>
				{% endfor %}
				{% endpaginate %}
			</div>
		</div>
	</div>

{% endblock %}

<div class="footer">
	copyright © Reclaimed ministries, all rights reserved
</div>

    <!-- Javascripts -->
    
	<script type='text/javascript'>
		window.cfgUrl = "{{ 'config.js' | javascript_url }}";
		window.page = "{{ page.fullpath }}";
	</script>
	<script type="text/javascript" src="{{ 'lib/require.js' | javascript_url }}" data-main="{{ 'config.js' | javascript_url }}">
	</script>
  </body>
</html>