---
title: Home
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
editable_elements:
  main/dark_section: ! "<p>\r\n\t              Slavery is still a very real and present
    epidemic today. In fact, millions of men, women and children across the world,
    across the U.S. and yes, even in Dallas are living as slaves. It’s a tragedy larger
    than most of us can understand.  \r\n\t              </p>\r\n\t              <p>\r\n\t\t\t\t
    \ Sex trafficking is a 32 billion dollar industry and generates an estimated $100
    million annually in Dallas alone.  Texas ranks number two in trafficking crimes
    and the border is the number one supply site for children in sex trafficking in
    the US.  Women are coerced, manipulated, abused, beaten, raped, and sold.  The
    magnitude of the problem and the depth of the depravity have caused public outrage
    and increased media coverage.  Individuals are hungry for a solution, seeking
    a way to fight for freedom.  \r\n\t\t\t\t  </p>"
  main/light section: ! "<p>\r\n\t\t\t\t\tAs followers of Christ, we know that solution
    by name, and He's invited us into the fight.  \r\n\t\t\t\t\t</p>\r\n\t\t\t\t\t<p>\r\n\t\t\t\t\tThrough
    the mercy and power of Jesus Christ, Reclaimed exists to bring His light in this
    dark world by educating and equipping the local church to fight trafficking where
    they are.  From what we know in scripture, God has bestowed value on every human
    through His sacrificial love.  And trafficking says that some lives are worth
    less than others.  Because this must change, it is our goal to empower and mobilize
    the Church to REDEFINE a hyper-sexualized culture, RESTORE men and women victimized
    by the sex industry, and to REACH a world hurt by the abuse of sex all through
    the power of Jesus Christ.  The tide will turn as the church rises up.  Will you
    join us?\r\n\t\t\t\t\t</p>"
---
<!DOCTYPE html>

<html lang="en">

  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">

    <title>

      {{ page.title }} - {{ site.name }}

      | {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ site.seo_title }}{% endif %}

    </title>

    <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.meta_description }}{% endif %}">

    <meta name="keywords" content="{{ site.meta_keywords }} {{ page.meta_keywords }}">



    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {{ 'bootstrap.css' | stylesheet_tag }}

	{{ 'style.css' | stylesheet_tag }}

	{{ 'images.css' | stylesheet_tag }}

	<link rel="icon" href="{{ 'favicon.jpg' | theme_image_url }}" />

    <!--[if lt IE 9]>

      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

    {% inline_editor %}
  </head>

  <body>
  

  <!-- Site Navigation -->

  <nav class="navbar navbar-default" role="navigation">
   <div class="container-fluid">
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	    <ul class="nav navbar-nav">

		  {% nav 'site', no_wrapper: true, active_class: "active", bootstrap: true %}

	    </ul>

	  </div>
	</div>

  </nav>


  <div class="wrapper container-fluid">



      <!-- Page Content -->
      <div class="main row">
	  {% block main %}


		<div class="row bcg" id="homepage-header">

			<div class="row" id="logo-img">
				
			</div>

		</div>

			

	  

  <div data-bottom-top="background-color:hsl(0, 0%,100%); color:hsl(0,0%,0%)"
		data-center-top="background-color:hsl(0, 0%, 20%); color:hsl(0,0%,100%)"
		data-100-top-top="background-color:hsl(0, 0%, 20%); color:hsl(0,0%,100%)"
		data-100-top-center="background-color:hsl(0, 0%, 100%); color:hsl(0,0%,0%)"
		class="row" id="skrollr-text-1"
		>

		


	<div class="col-sm-10 col-sm-offset-1">
	  <div class="row contentrow">
			<div class="col-sm-4 hidden-xs content-image" id="homepage-ads-1" >

				<img src="{{ 'home/Homepage-Ads-Medium-Dallas-Is-Bad-Traffic_06.jpg' | theme_image_url | resize: '374x' }}" alt="Dallas' Bad Traffic" />

			</div>

			<div class="col-sm-8 col-xs-12 content-text">
				{% editable_text "dark_section", hint: "The text belonging in the 'dark' section at the scroll break" %}
				  <p>
	              Slavery is still a very real and present epidemic today. In fact, millions of men, women and children across the world, across the U.S. and yes, even in Dallas are living as slaves. It’s a tragedy larger than most of us can understand.  
	              </p>
	              <p>
				  Sex trafficking is a 32 billion dollar industry and generates an estimated $100 million annually in Dallas alone.  Texas ranks number two in trafficking crimes and the border is the number one supply site for children in sex trafficking in the US.  Women are coerced, manipulated, abused, beaten, raped, and sold.  The magnitude of the problem and the depth of the depravity have caused public outrage and increased media coverage.  Individuals are hungry for a solution, seeking a way to fight for freedom.  
				  </p>
				{% endeditable_text %}
			</div>
	  </div>
	  <div class="row contentrow" style="margin-top: 50px;">
			<div class="col-sm-8 col-xs-12 content-text">
			  {% editable_text "light section", hint: "The text belonging in the 'light' section immediately after the 'dark' section" %}
			  		<p>
					As followers of Christ, we know that solution by name, and He's invited us into the fight.  
					</p>
					<p>
					Through the mercy and power of Jesus Christ, Reclaimed exists to bring His light in this dark world by educating and equipping the local church to fight trafficking where they are.  From what we know in scripture, God has bestowed value on every human through His sacrificial love.  And trafficking says that some lives are worth less than others.  Because this must change, it is our goal to empower and mobilize the Church to REDEFINE a hyper-sexualized culture, RESTORE men and women victimized by the sex industry, and to REACH a world hurt by the abuse of sex all through the power of Jesus Christ.  The tide will turn as the church rises up.  Will you join us?
					</p>
			  {% endeditable_text %}
			</div>				

			<div class="col-sm-4 hidden-xs content-image" id="homepage-ads-2" >

				<!--<img src="{{ 'home/Homepage-Ads-Medium-Hope.jpg' | theme_image_url | resize: '374x' }}" alt="A sad image" />-->

			</div>
	  </div>

	  <div class="row contentrow center" id="imglinks">			

					<div class="col-sm-4 col-xs-12">          
					  <a href="{% path_to redefine %}">
					    <img src="{{ 'home/Homepage-Ads-Small-Redefine.jpg' | theme_image_url | resize: '244x' }}" alt="Redefine" />
					  </a>
					</div>

					<div class="col-sm-4 col-xs-12"
					data-toggle="popover" title="Coming Soon!" data-placement="top"
					>          
					  
						<img src="{{ 'home/Homepage-Ads-Small-Restore.jpg' | theme_image_url | resize: '244x' }}" alt="Restore" />
					  
					</div>

					<div class="col-sm-4 col-xs-12"
					data-toggle="popover" title="Coming Soon!" data-placement="top"
					> 

						<img src="{{ 'home/Homepage-Ads-Small-Reach.jpg' | theme_image_url | resize: '244x' }}" alt="Reach" />
					</div>

	  </div>	

	  <div class="row center">
				<div class="col-sm-6">  

					<a href="https://www.google.com/calendar/embed?src=67gfi1ooq8ie2rs1h5smhmm2pg%40group.calendar.google.com">
					  <div 
					    style="background-image:url('{{ 'home/Homepage-Ads-Medium-Events.jpg' | theme_image_url | resize: '374x' }}'); max-width:374px; height:200px;"
					    class="text-center center bg-image row" 
					    id="nextEvent"
					   >
					 	<div class="evtText bg-opaque-invert center">

						  <div class="evtTitle"></div>

						  <div class="evtDate"></div>

						  <div class="evtLoc"></div>
						</div>
					  </div>
					</a>
				</div>

				<div class="col-sm-6">  
					<div 
					  style="background-image:url('{{ 'home/Homepage-Ads-Medium-News.jpg' | theme_image_url | resize: '374x' }}'); max-width:374px; height:200px; margin-bottom:50px;"
					  class="text-center center bg-image clickable row"
					  data-toggle="popover" title="Coming Soon!" data-content="News stories will be available shortly!" data-placement="top"
					  id="nextEvent"
					 >
					</div>
				</div>
	  </div>	



	</div>
  </div>

	  


		<div class="row bcg" id="homepage-footer">

			

		</div>


{% endblock %}
</div>



<div class="footer">

	copyright © Reclaimed ministries, all rights reserved

</div>

</div>

    <!-- Javascripts -->

    <script type='text/javascript'>

		window.cfgUrl = "{{ 'config.js' | javascript_url }}".split('?')[0];

		window.page = "{{ page.fullpath }}";

	</script>

	<script type="text/javascript" src="{{ 'lib/require.js' | javascript_url }}" data-main="{{ 'config.js' | javascript_url }}">

	</script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-66122132-1', 'auto');
	  ga('send', 'pageview');

	</script>

  </body>

</html>