---
title: Stories
slug: stories
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 1
---
{% extends parent %}

{% block main %}

<div class="stories row">
	<div class="col-md-10 col-md-offset-1">
		{% for story in contents.stories %}
		<div class="row story-archive" >
			<div class="col-md-4">
				{% if story.image.url %}
					<a href="/stories/{{ story._slug }}">
					<img src="{{ story.image.url | resize: '400x' }}" alt="{{ story.title | escape }}" />
					</a>
				{% endif %}			
			</div>
			<div class="col-md-6 col-md-offset-1" >
				<a href="/stories/{{ story._slug }}"><h4>{{ story.title | escape }}</h4></a>
				<div class="teaser">{{ story.teaser }}</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
